* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  width: 30%;
  height: auto;
}
.navigation a:hover {
  color: orangered;
}

.slick-slider {
  height: 100%;
  overflow: hidden;
}
.slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire slide */
}

.full-background-carousel {
  position: relative;
  height: 100vh; /* Set carousel height to cover the viewport */
  overflow: hidden; /* Hide any overflow */
}

.carousel-text {
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white; /* Set the text color */

  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;
}

.footerBtn {
  color: orangered;
}

.ant-collapse-header-text {
  font-size: 18px;
  font-weight: 500;
  color: purple;
}

.pcard img {
  width: 300px;
  height: 250px;
  margin: auto;
}
